* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.button{
    border: 1px solid black;
    background-color: rgb(65, 65, 250);
    color: white;
    padding: 2px;
}
/*  list page */
#logo{
    vertical-align: middle;
}
.link-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.link-page li{
    display: inline-block;
    margin-right: 10px;
}
/* jumbotron */
.jumbotron{
    background-color: aquamarine;
    padding: 5% 15% 0 15%;
}
.jumbotron h1{
    text-align: start;
    font-size: 70px;
    margin-bottom: 20px;
}
.jumbotron img{
    float: right;
    width: 50%;
}
.jumbotron section{
    margin-top: 30px;
}
.jumbotron .fa-arrow-down{
    font-size: xx-large;
}
/*  footer */
footer{
    background-color: black;
     padding: 5% 15%;
     color: white;
}
/*  list help */
.help{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.help .subjects{
    font-size: larger;
    font-weight: bolder;
}
.help li{
    margin: 10px;
}
.help a{
    color: white;
}
/*  translate */
  
.traslate span{
    border-top: 1px solid white;
    padding: 30px 20px;   
    color: gray;
}
